@import url('telma.css');
@import url('gambarino.css');
@import url('ranade.css');

/* My Styles */
body{
    display: grid;
    justify-items: center;
    height: 95vh;
	background-color: #e7650d;
}
h1{
	font-family: 'Telma-Regular';
}
#profile{
	border-radius: 15px;
	border: 2px dotted black;
}
p{
	font-family: 'Gambarino-Regular';
	width: 55vw;
}
a{
	display: block;
	text-align: center;
	width: 55vw;
	height: 45px;
	background-color: #773508;
	color: white;
	margin-bottom: 15px;
	padding-top: 18px;
	border-radius: 20px;
	font-size: 20px;
	font-family: 'Ranade-Regular';
}
#alt1{
	background-color: #bb4c02;
}
#alt2{
	background-color: #800000;
}